* {
  position: relative;
  padding: 0;
  margin: 0;
  font-family: 微軟正黑體, arial;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #f3f3f3;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
img {
  display: table-cell;
  max-width: 100%;
}
